.sidebar {
  height: 100vh;
  flex: 0.2;
  background-color: #1d2026;
  min-width: 230px;
  padding: 0 10px;
  max-width: 241px;
}

.sidebar__logo {
  height: 50px;
  padding: 20px 10px;
  margin-right: auto;
}

.sidebar__title {
  margin-left: 10px;
  padding: 5px;
  font-size: 12px;
  color: white;
}

.sidebar > hr {
  border: 1px solid #282828;
  width: 90%;
  margin: 10px auto;
}

.sideBarOption > p {
  margin: 0 10px;
  font-size: 14px;
}
