.artist{
  flex: 1;
  position: relative;
  padding: 16px;
  background: #181818;
  border-radius: 4px;
  isolation: isolate;
  width: 100%;
  text-align: center;
  margin: 0 24px 0 0;
  transition: background-color .3s ease;
}
.artist img{
  max-width: 208px;
}

.artist h2{
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: normal;
  text-transform: none;
}

.artist p{
  color: #b3b3b3;
  font-size: 14px;
}

.artist .round{
  border-radius: 50%;
}

.artist:hover{
  background: #282828;
  cursor: pointer;
}
