.sideBarOption{
  color:grey;
  height: 40px;
  cursor: pointer;
  transition: 200ms color ease-in;
  display: flex;
  align-items: center;
}
.sideBarOption a{
  color:inherit;
}

.sideBarOption:hover{
  color:white;
}

.sideBarOption__icon{
  padding-left: 10px;
  padding-right: 10px;
}

.selected{
  cursor: pointer;
  background-color: hsla(0,0%,100%,.1);
  color:white!important;
}

