.sideBarOption{
  color:grey;
  height: 40px;
  cursor: pointer;
  transition: 200ms color ease-in;
  display: flex;
  align-items: center;
}

.sideBarOption:hover{
  color:white;
}

.sideBarOption__icon{
  padding-left: 10px;
  padding-right: 10px;
}
