.songRow {
  margin-left: 20px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  z-index: 100;
  color: white;
}

.songRow:hover {
  cursor: pointer;
  background-color: hsla(0,0%,100%,.1);
  opacity: 0.8;
}
.songRow__number{
  width: 4%;
}

.songRow__info {
  margin-left: 20px;
  flex:0.7;
}

.songRow__time{
  flex:0.1;
  text-align: right;
}

.songRow__info > h1 {
  font-size: 16px;
}

.songRow__info > p {
  font-size: 14px;
  margin-top: 3px;
  color: gray;
}

.songRow__album {
  flex:0.1;
  max-width: 40px;
  max-height: 40px;
  width: 100%;
}

.songRow__album img{
  height: 40px;
  width: 40px;
}
