.load-wrapp p {
  padding: 0 0 20px;
}
.load-wrapp:last-child {
  margin-right: 0;
}

.line {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #1db954;
  margin: 0 2px 0 0;
}

.load-1 .line:nth-last-child(1) {
  animation: loadingA 0.7s 0.10s infinite;
}
.load-1 .line:nth-last-child(2) {
  animation: loadingA 0.7s 0.25s infinite;
}
.load-1 .line:nth-last-child(3) {
  animation: loadingA 0.7s 0s infinite;
}

.load-1{
  display: flex;
  align-items: center;
  margin:auto;
  max-width: 20px;
}


@keyframes loadingA {
0 {
  height: 15px;
}
50% {
  height: 35px;
}
100% {
  height: 15px;
}
}
