.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;
  padding: 0 30px;
}
.header__left {
  flex: 0.5;
  color: gray;
  display: flex;
  align-items: center;
  position: relative;
}


.header__left .MuiSvgIcon-root{
  position: absolute;
  left:20px;
}


.header__left input{
  padding: 6px 48px;
  min-width: 30px;
  height: 40px;
  border-radius: 30px;
}

.header__left input:focus{
  outline:none;
}

.header__left > input {
  border: none;
  width: 100%;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__right > h4 {
  margin-left: 10px;
}

@media screen and (max-width: 814px) {
  .header__right > h4{
    display: none;
  }

  .header__left{
    flex:0.9;
  }
}


