.artist_body{
  width: 100%;
  height: 100vh;
  background-color: #121212;
  overflow: scroll;
}

.artist_body{
}
.artistContent{
  padding: 0 0 130px 0;
}

.artist_body h1{
  color:white;
}

.artist_body .title{
  padding: 0 0 0 30px;

}

.artist_body .artist__row{
  display: flex;
  justify-content: space-between;
}


.artist__row{
  color:white;
  text-align:left;
}
