.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #282828;
  justify-content: space-between;
  padding: 20px;
  display: flex;
  box-sizing: border-box;
}

.footer__left {
  flex: 0.3;
  display: flex;
  align-items: center;
  color: white;
  max-width: 300px;
  min-width: 230px;
}

.footer__albumLogo {
  height: 60px;
  width: 60px;
  object-fit: contain;
}

.footer__songInfo{
  margin: 0 14px;
}

.footer__left h4{
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}

.footer__left p{
  font-size: 11px;
  line-height: 16px;
  margin: 0;
}

.footer__center {
  flex: 0.4;
  padding: 0 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
}

.footer__right {
  flex: 0.3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}


.footer__green, .MuiSlider-root {
  color: #1ed15e!important;
}

.footer__icon:hover,
.footer__green:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2) !important;
}

.footer__right .MuiSvgIcon-root{
  color:#b3b3b3;
}

.footer__right .MuiSvgIcon-root:hover{
  color:white;
}

.img__container{
  max-width: 60px;
  max-height: 60px;
  width: 100%;
}
