.temp {
  width: 100%;
  background: #333333;
  position: relative;
  max-width: 208px;
  height: 208px;
  margin: auto;
}

.temp .MuiSvgIcon-root {
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom: 0;
  margin: auto;
  font-size: 250%;
  transform:rotate(10deg);
}
